In [1]:
from mdlp import MDLP
import pandas as pd
from benchmark import Datasets
from bayesclass import TAN

In [2]:
# Get data as a dataset
dt = Datasets()
data = dt.load("glass", dataframe=True)
features = dt.dataset.features
class_name = dt.dataset.class_name
factorization, class_factors = pd.factorize(data[class_name])
data[class_name] = factorization
data.head()

        RI     Na    Mg    Al     Si   'K'     Ca   Ba    Fe  Type
0  1.51793  12.79  3.50  1.12  73.03  0.64   8.77  0.0  0.00     0
1  1.51643  12.16  3.52  1.35  72.89  0.57   8.53  0.0  0.00     1
2  1.51793  13.21  3.48  1.41  72.64  0.59   8.43  0.0  0.00     0
3  1.51299  14.40  1.74  1.54  74.55  0.00   7.59  0.0  0.00     2
4  1.53393  12.30  0.00  1.00  70.16  0.12  16.19  0.0  0.24     3

In [3]:
# Fayyad Irani
discretiz = MDLP()
Xdisc = discretiz.fit_transform(
    data[features].to_numpy(), data[class_name].to_numpy()
)
features_discretized = pd.DataFrame(Xdisc, columns=features)
dataset_discretized = features_discretized.copy()
dataset_discretized[class_name] = data[class_name]
X = dataset_discretized[features]
y = dataset_discretized[class_name]
dataset_discretized

       RI    Na    Mg    Al    Si   'K'    Ca   Ba   Fe  Type
0    31.0   8.0  15.0  13.0  38.0  26.0   9.0  0.0  0.0     0
1    23.0   3.0  15.0  19.0  36.0  19.0   9.0  0.0  0.0     1
2    31.0  17.0  15.0  20.0  24.0  21.0   7.0  0.0  0.0     0
3     3.0  42.0   6.0  21.0  47.0   0.0   3.0  0.0  0.0     2
4    63.0   4.0   0.0  11.0   0.0   8.0  21.0  0.0  4.0     3
..    ...   ...   ...   ...   ...   ...   ...  ...  ...   ...
209  17.0  22.0  14.0  15.0  26.0  21.0   4.0  0.0  0.0     1
210  14.0  10.0  15.0  27.0  25.0  30.0   3.0  0.0  0.0     3
211  19.0  33.0  15.0  17.0  36.0  12.0   3.0  0.0  4.0     3
212  23.0   5.0   8.0  21.0  43.0  30.0   9.0  0.0  0.0     3
213  44.0  38.0   6.0  21.0  25.0   0.0  10.0  0.0  0.0     2

[214 rows x 10 columns]

In [ ]:
for simple_init in [False, True]:
    model = TAN(simple_init=simple_init)
    for head in range(4):
        model.fit(X, y, head=head, features=features, class_name=class_name)
        ypred = model.predict(X)
        #model.plot(f"simple_init={simple_init} head={head}  score={model.predict(X)}")

In [5]:
X.shape

(214, 9)